:root {
    --header-height: 100px;
    --screen-height: 100vh;
}

body {
    margin: 0;
}

#header {
    background-color: red;
    width: 100%;
    height: var(--header-height);
}

#navbar, #selectionbar {
    background-color: purple;
    width: 300px;
    height: calc(var(--screen-height) - var(--header-height));
}

#navbar {
    float: left;
}

#selectionbar {
    float: right;
}