@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Fira+Sans:wght@400&display=swap');

:root {
    --header-height: 100px;
    --screen-height: 100vh; /*Overridden by JavaScript to use screen height in pixels, useful for mobile devices and calculations.*/
    /* --screen-height-unit: 1vh; */
    --color-1: #193B59;
    --color-2: #BACAC0;
    --color-3: #F2D2B6;
    --color-4: #F2AD94;
    --color-5: #F28972;
    --link-color: blue;
    --link-color-hover: red;
    --link-color-click: blue;
    /* --color-clear: rgba(95,68,58,0); */
    --sidebar-padding: 15px;
    --sidebar-width: 269px;
    --content-max-width: 900px;
    --explanation-padding: 4px;
    --explanation-height: 200px;
    --button-radius: 8px;
    --button-border: 3px;
    --scrollbar-width: 15px;
    --content-width: calc(100vw - (var(--sidebar-width) * 2) - 30px - var(--scrollbar-width) - (var(--sidebar-hidden) * 2));
    --icon-number: 9;
    --icon-width: calc((var(--content-width) - (6px * var(--icon-number) + (var(--icon-number) - 1) * 6px)) / var(--icon-number));
    --individual-content-width: calc(100vw - 30px - var(--scrollbar-width));
    --individual-icon-number: 9;
    --individual-icon-width: calc((var(--individual-content-width) - (6px * var(--individual-icon-number) + (var(--individual-icon-number) - 1) * 6px)) / var(--individual-icon-number));
    --sidebar-hidden: 0px;
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: var(--color-1);
    background-color: var(--color-5);
    height: var(--screen-height);
}

main {
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: 'DM Serif Display', serif;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
    margin: 15px 0;
}

h4 {
    font-size: 20px;
    margin: 5px 0;
    font-weight: normal;
    font-style: italic;
}

hr {
    width: 85%;
    border: solid 1px var(--color-1);
}

.hid {
    display: none;
}

header {
    background-color: var(--color-2);
    width: 100%;
    height: var(--header-height);
}

header a, header a:hover, header a:active, header a:focus {
    color: var(--color-1);
    text-decoration: none;
}

#header {
    display: flex;
    align-items: center;
}

#logo {
    /* float: left; */
    padding: 10px;
}

#logodesktop {
    width: 250px;
}

#logomobile {
    display: none;
}

#pagename, #pagenamemobile {

}

#pagename {
    width: var(--content-max-width);
    max-width: calc(100vw - 540px);
    /* height: var(--header-height); */
    margin: 0 auto;
    text-align: center;
    display:block;
    font-size: 45px;
    font-family: 'Fira Sans', sans-serif;
    /* padding-top: 20px; */
}

#pagenamemobile {
    display: none;
}

#sitemenu {
    /* float: right; */
    width: 270px;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
}

#sitemenuicon {
    font-size: 40px;
}

#sitemenutext {
    position: relative;
    top: -5px;
}

#sitemenuoptions {
    display:none;
    position: fixed;
    list-style: none;
    padding: 0;
    margin: -5px 5px 0 -50px;
    z-index: 2;
    background-color: var(--color-2);
}

#sitemenuoptions li {
    border: solid 1px var(--color-1);
    padding: 3px;
}

#sitemenu:hover #sitemenuoptions {
    display: initial;
}

main, #header {
    max-width: calc((var(--sidebar-width)*2) + var(--content-max-width));
    margin: 0 auto;
}

#content, #navbar, #navbarcontainer, #selectionbar {
    height: calc(var(--screen-height) - var(--header-height));
    transition-duration: 0.3s;
}

#navbar, #navbarcontainer, #selectionbar {
    /* background-color: rgba(0, 0, 0, 0.2); */
    background-color: var(--color-4);
    width: var(--sidebar-width);
    position: relative;
    z-index: 1;
    /* padding: var(--sidebar-padding); */
}

#navbar, #navbarcontainer {
    float: left;
}

#selectionbar {
    float: right;
}

#navbarbutton, #main #selectionbarbutton {
    display: none;
}

.leftedge {
    border-left: 1px solid var(--color-2);
}

.rightedge {
    border-right: 1px solid var(--color-2);
}

#selectionexplanation {
    padding: var(--sidebar-padding);
}

#selectionexplanation p {
    margin: 0;
    padding: var(--explanation-padding);
    height: var(--explanation-height);
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: var(--color-5);
}

input, label, button, #entrylist img {
    cursor: pointer;
}

#entrylist img, .iconlist li img {
    transition-duration: 0.2s;
}

#entrylist img:hover, #entrylist img:active {
    /* filter: brightness(120%) saturate(120%); */
    transform: scale(1.05);
}

.iconlist li img:hover, .iconlist li img:active {
    transform: scale(1.1);
}

#entrylist img:active, .iconlist li img:active {
    filter: brightness(90%) saturate(70%);
    margin-top: -2px;
    margin-bottom: 2px;
}


/* Checkboxes and radio buttons */
#selectionbar input {
    display: block;
    float: left;
    -webkit-appearance: none;
    appearance: none;
}

#selectionbar input[type="checkbox"] {
    position: relative;
    width: 1.15em;
    height: 1.15em;
    border: 2px solid var(--color-1);
    /* Adjusts the position of the checkboxes on the text baseline */
    /* vertical-align: -2px; */
    /* Set here so that Windows' High-Contrast Mode can override */
    color: var(--color-1);
}

#selectionbar input[type="checkbox"]::before {
    content: "\2714";
    position: absolute;
    font-size: 1.6em;
    right: -4px;
    top: -13px;
    visibility: hidden;
}

#selectionbar input[type="checkbox"]:checked::before {
    visibility: visible;
}

#selectionbar input[type="radio"] {
    position: relative;
    width: 1.15em;
    height: 1.15em;
    border: 2px solid var(--color-1);
    border-radius: 8px;
    /* Adjusts the position of the checkboxes on the text baseline */
    /* vertical-align: -2px; */
    /* Set here so that Windows' High-Contrast Mode can override */
    color: var(--color-1);
}

#selectionbar input[type="radio"]:checked {
    background-color: var(--color-1);
}

/* If a full-filled circle is not desired: */
/* #selectionbar input[type="radio"]::before {
    content: "\002B24";
    position: absolute;
    font-size: 1.3em;
    right: -1px;
    top: -8px;
    visibility: hidden;
}

#selectionbar input[type="radio"]:checked::before {
    visibility: visible;
} */
/* ------ */

#selectionbar label {
    display: flex;
    padding-left: 5px;
    margin: 10px;
}

#selectionbar button, #content button {
    display: block;
    font-size: 1em;
    font-family: 'Fira Sans', sans-serif;
    width: 80%;
    /* height: 30px; */
    padding: 5px;
    margin: 0 auto 8px;
    color: var(--color-1);
    background-color: var(--color-3);
    border: solid var(--button-border) var(--color-5);
    border-radius: var(--button-radius);
}

#selectionbar button:hover, #content button:hover {
    color: var(--color-3);
    background-color: var(--color-5);
}

#selectionbar button:active, #content button:active {
    color: var(--color-2);
    background-color: var(--color-1);
    border-color: var(--color-2);
}

#selectionscroll {
    /* height: calc((var(--screen-height)/var(--screen-height-unit) - var(--header-height)/1px - var(--sidebar-padding)/1px * 2 - var(--explanation-padding)/1px * 2 - var(--explanation-height)/1px)*1px);
    height: calc((625px/1px - var(--header-height)/1px - var(--sidebar-padding)/1px * 2 - var(--explanation-padding)/1px * 2 - var(--explanation-height)/1px)*1px); */
    height: calc(var(--screen-height) - var(--header-height) - var(--sidebar-padding) * 2 - var(--explanation-padding) * 2 - var(--explanation-height));
    /* height: calc(625px - 100px - 15px * 2 - 4px * 2 - 200px);  */ 
    margin: 0 0 var(--sidebar-padding) var(--sidebar-padding);
}
#selectionscroll, #selectionexplanation p, .scrollarea {
    overflow-y: auto;
    scrollbar-color: var(--color-5) var(--color-1);
    scrollbar-width: thin;
}

/* Scrollbar styling */
#selectionscroll::-webkit-scrollbar, #selectionexplanation p::-webkit-scrollbar, .scrollarea::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

#selectionscroll::-webkit-scrollbar-button:single-button:decrement, #selectionexplanation p::-webkit-scrollbar-button:single-button:decrement, .scrollarea::-webkit-scrollbar-button:single-button:decrement  {
    width: 20px;
    background-color: transparent;
    border-bottom: 20px solid var(--color-1);
    border-left: calc(var(--scrollbar-width)/2) solid transparent;
    border-right: calc(var(--scrollbar-width)/2) solid transparent;
    cursor: pointer !important;
}

#selectionscroll::-webkit-scrollbar-button:single-button:increment, #selectionexplanation p::-webkit-scrollbar-button:single-button:increment, .scrollarea::-webkit-scrollbar-button:single-button:increment {
    width: 20px;
    background-color: transparent;
    border-top: 20px solid var(--color-1);
    border-left: calc(var(--scrollbar-width)/2) solid transparent;
    border-right: calc(var(--scrollbar-width)/2) solid transparent;
    cursor: pointer !important;
}

#selectionscroll::-webkit-scrollbar-track, #selectionexplanation p::-webkit-scrollbar-track, .scrollarea::-webkit-scrollbar-track {
    background-color: var(--color-2);
}

#selectionscroll::-webkit-scrollbar-thumb, #selectionexplanation p::-webkit-scrollbar-thumb, .scrollarea::-webkit-scrollbar-thumb {
    background-color: var(--color-1);
    border-radius: 10px;
}
/* ------ */

/* Scroll section gradient */
.scrollhidetop, .scrollhidebottom {
    position: relative;
}

.scrollhidetop:before, .scrollhidebottom:after {
    content: "";
    position: absolute;
    left: 0;
    pointer-events: none;
    /* width: calc(var(--sidebar-width) - var(--scrollbar-width)); */
    width: calc(100% - var(--scrollbar-width));
    height: 50px;
    z-index: 1;
}

#selectionexplanation.scrollhidetop:before, #selectionexplanation.scrollhidebottom:after {
    width: calc(100% - (var(--sidebar-padding) * 2) - var(--scrollbar-width));
    margin: var(--sidebar-padding) 0 var(--sidebar-padding) var(--sidebar-padding);
}

.scrollhidetop:before {
    top: 0;
    background-image: linear-gradient(to bottom, var(--color-4), transparent 85%);
}

.scrollhidebottom:after {
    bottom: 0;
    background-image: linear-gradient(to top, var(--color-4), transparent 85%);
}

#content.scrollhidetop:before {
    background-image: linear-gradient(to bottom, var(--color-3), transparent 85%);
}

#content.scrollhidebottom:after {
    background-image: linear-gradient(to top, var(--color-3), transparent 85%);
}

#selectionexplanation.scrollhidetop:before {
    background-image: linear-gradient(to bottom, var(--color-5), transparent 85%);
}

#selectionexplanation.scrollhidebottom:after {
    background-image: linear-gradient(to top, var(--color-5), transparent 85%);
}


/* ------ */


/* Nav Bar Styling */
#entrylist {
    padding: 0;
    margin: 15px;
}

#entrylist li {
    list-style-type: none;
    margin: 10px 0;
}

#entrylist img {
    width: 100%;
}

.hid, #content .hiddenelement {
    display: none;
}
/* ------ */


/* Content Area Styling */
#content {
    /* width: calc(100vw - (var(--sidebar-width) * 2) - 30px); */
    margin: 0 auto;
    /* padding: 5px 0 15px; */
    container-type: inline-size;
    max-width: var(--content-max-width);
    background-color: var(--color-3);
}

#contentcontainer, #preliminarycontent {
    padding: 5px 15px 15px;
    height: calc(var(--screen-height) - var(--header-height) - 20px);
}

#content > h2, #content > h3 {
    margin: 10px 0;
}

#content #entrytitle, #preliminarycontent #initialtitle {
    margin: 0 0 10px;
}

.ordertype {
    display: inline-block;
    width: 24%;
    text-align: center;
}

.preventry, .nextentry {
    width: 38%;
}

.preventry {
    float: left;
}

.nextentry {
    float: right;
}

.ordername {
    display: inline-block;
    max-width: 72%;
}

#youtubeembed {
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: 20px;
}

#entryimage {
    float: right;
    margin-left: 10px;
    max-width: 220px;
}

#content p {
    margin: 0;
    line-height: 1.4em;
}

#preliminarycontent p {
    margin-bottom: 10px;
}

a, #content .entrytag {
    color: var(--link-color);
}

a:hover, #content .entrytag:hover {
    color: var(--link-color-hover);
    background-color: inherit;
}

a:active, #content .entrytag:active {
    color: var(--link-color-click);
    background-color: inherit;
}

#content .entrytag {
    display: inline;
    width: auto;
    padding: 0;
    margin: 0;
    border: none;
    font-style: inherit;
    text-decoration: underline;
    background-color: inherit;
}

#content #jumplinks {
    margin-bottom: 15px;
}

#content .paragraphtext {
    margin-bottom: 10px;
}

#notablecharacters ul, #keyfacts {
    margin: 0;
    padding: 0 0 0 30px;
}

#notablecharacters li, #keyfacts li {
    margin: 0 0 3px;
}

#notablecharacters li::marker, #keyfacts li::marker {
    margin-right: 3px;
}

ul.iconlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.iconlist li {
    display: inline-flex;
    padding: 3px;
}

/* .iconlist li:first-of-type {
    padding-left: 0;
} */

.iconlist li a {
    height: 0;
}

.standard .iconlist li img {
    /* width: 80px; */
    width: var(--icon-width);
}

.individual .iconlist li img {
    /* width: 80px; */
    width: var(--individual-icon-width);
}

.hiddenspoiler {
    background-color: var(--color-1);
    /* box-shadow: inset 0 0 0 3px var(--color-5); */
    border-radius: 5px;
    cursor: pointer;
}

.hiddenspoiler:hover {
    background-color: var(--color-2);
}

.hiddenspoiler:active {
    background-color: transparent;
}

.hiddenspoiler span {
    visibility: hidden;
}

img.hiddenspoiler {
    filter: brightness(0.18) blur(3px);
    border-radius: 0;
}

img.hiddenspoiler:hover {
    filter: brightness(0.25) blur(2px);
}

img.hiddenspoiler:active {
    filter: brightness(0.35) blur(1px);
}
/* ------ */


/* Responsive Adjustments */
@container (max-width: 545px) {
    .reviewDescriptor {
        display: none;
    }
}

@container (max-width: 420px) and (min-width: 331px) {
    #entryimage {
        max-width:180px;
    }
}

@container (max-width: 330px) {
    #entryimage {
        float: initial;
    }

    .standard #entryimage {
        /* margin: 0 calc((100cqw - 220px - 30px - var(--scrollbar-width))/2);  220px for the image, 30px for the container padding) */
        margin: 0 calc((var(--content-width) - 220px)/2); /*220px for the image*/
    }

    .individual #entryimage {
        margin: 0 calc((var(--individual-content-width) - 220px)/2); /*220px for the image*/
    }
}

@media screen and (min-width: 1438px) {
    :root {
        /* --content-width: calc(var(--content-max-width) - 30px - var(--scrollbar-width)); */
        --content-width: var(--individual-content-width);
        /* --individual-content-width: var(--content-width); */
    }
}

@media screen and (min-width: 900px) {
    :root {
        --individual-content-width: calc(var(--content-max-width) - 30px - var(--scrollbar-width));
    }
}

@media screen and (max-width: 1400px) {
    :root {
        --icon-number: 8;
    }
}

@media screen and (max-width: 1300px) {
    :root {
        --icon-number: 7;
    }
}

@media screen and (max-width: 1200px) {
    :root {
        --icon-number: 6;
    }
}

@media screen and (max-width: 1100px) {
    :root {
        --icon-number: 5;
    }

    #pagename {
        font-size: 35px;
    }
}

@media screen and (max-width: 1000px) {
    :root {
        --icon-number: 4;
    }
}

@media screen and (max-width: 925px) {
    :root {
        --icon-number: 3;
    }
}

@media screen and (max-width: 850px) and (min-width: 701px) {
    :root {
        --icon-number: 2;
        --sidebar-width: 199px;
        --header-height: 80px;
    }
    #logodesktop {
        width: 180px;
    }
    #sitemenu {
        width: 200px;
    }
    #pagename {
        max-width: calc(100vw - 400px);
        font-size: 28px;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --individual-icon-number: 8;
    }
}

@media screen and (max-width: 700px) {
    :root {
        --individual-icon-number: 7;
        --icon-number: calc(var(--individual-icon-number) - 2);
        --header-height: 70px;
        --sidebar-button-size: 46px;
        --second-button-margin: 0;
        --sidebar-hidden: -220px;
    }
    #logodesktop, #sitemenutext {
        display: none;
    }
    #logomobile {
        display: initial;
        width: 50px;
    }
    #sitemenu {
        width: 70px;
    }
    #pagename {
        max-width: calc(100vw - 140px);
        font-size: 28px;
    }
    #navbarcontainer {
        margin-left: var(--sidebar-hidden);
    }
    #selectionbar {
        margin-right: var(--sidebar-hidden);
    }
    .standard #content {
        width: calc(100vw - ((var(--sidebar-width) + var(--sidebar-hidden)) * 2));
        position: absolute;
        left: calc(var(--sidebar-width) + var(--sidebar-hidden));
    }
    #navbarbutton, #main #selectionbarbutton {
        display: initial;
        position: relative;
        width: calc(var(--sidebar-button-size) + 35px);
        height: var(--sidebar-button-size);
        padding: 5px;
        z-index: 2;
        border: solid var(--button-border) var(--color-5);
        border-radius: 0;
        background-color: var(--color-3);
    }
    #navbarbutton img, #main #selectionbarbutton img {
        width: 30px;
        float: right;
    }
    #navbarbutton img:first-of-type, #main #selectionbarbutton img:first-of-type {
        float: left;
    }
    #navbarbutton {
        margin-right: calc(-1 * var(--sidebar-button-size) - 35px);
        float: right;
    }
    #main #selectionbarbutton {
        margin-left: calc(-1 * var(--sidebar-button-size) - 35px);
        margin-top: var(--second-button-margin);
        float: left;
    }
    #navbarbutton img.arrowbutton {
        transform: rotate(90deg);
    }
    #main #selectionbarbutton img.arrowbutton {
        transform: rotate(-90deg);
    }
    .standard #content #entrytitle {
        margin-top: var(--sidebar-button-size);
    }
}

@media screen and (max-width: 625px) {
    :root {
        --individual-icon-number: 6;
    }
}

@media screen and (max-width: 625px) and (min-width: 481px) {
    :root {
        --sidebar-width: 199px;
        --sidebar-hidden: -150px;
    }
}

@media screen and (max-width: 550px) {
    :root {
        --individual-icon-number: 5;
    }
}

@media screen and (max-width: 480px) {
    :root {

    }
}

@media screen and (max-width: 475px) {
    :root {
        --individual-icon-number: 4;
        --scrollbar-width: 5px;
        --sidebar-hidden: calc(-1 * var(--sidebar-width));
        --icon-number: var(--individual-icon-number);
    }
}

@media screen and (max-width: 400px) {
    :root {
        --individual-icon-number: 3;
    }
    #pagenamedesktop {
        display: none;
    }
    #pagenamemobile {
        display: initial;
    }
}

@media screen and (max-width: 365px) {
    :root {
        --sidebar-width: 240px;
    }
}

@media screen and (max-width: 325px) {
    :root {
        --individual-icon-number: 2;
    }
}



/* ------ */