@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Fira+Sans:wght@400&display=swap');

:root {
    --header-height: 100px;
    --screen-height: 100vh;
    --color-1: #193B59;
    --color-2: #BACAC0;
    --color-3: #F2D2B6;
    --color-4: #F2AD94;
    --color-5: #F28972;
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: var(--color-1);;
    background-color: var(--color-3);;
}

h1, h2, h3, h4 {
    font-family: 'DM Serif Display', serif;
}

h3 {
    font-size: 22px;
    margin: 15px 0;
}

#header {
    background-color: var(--color-2);
    width: 100%;
    height: var(--header-height);
}

#navbar, #selectionbar {
    /* background-color: rgba(0, 0, 0, 0.2); */
    background-color: var(--color-4);
    width: 270px;
    height: calc(var(--screen-height) - var(--header-height));
    padding: 15px;
}

#navbar {
    float: left;
}

#selectionbar {
    float: right;
}

#selectionexplanation p {
    margin: 0;
    padding: 4px;
    height: 200px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: var(--color-5);
}

#selectionbar input {
    display: list-item;
    float: left;
    -webkit-appearance: none;
    appearance: none;
}

#selectionbar input[type="checkbox"] {
    position: relative;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
    /* Adjusts the position of the checkboxes on the text baseline */
    vertical-align: -2px;
    /* Set here so that Windows' High-Contrast Mode can override */
    color: green;
}

#selectionbar input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 1.2em;
    right: -1px;
    top: -0.3em;
    visibility: hidden;
  }

#selectionbar input[type="checkbox"]:checked::before {
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: visible;
  }

#selectionbar label {
    display: flex;
    padding-left: 5px;
    margin: 10px;
}